* {
  margin: 0;
}

.page-login {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;

  .card-login {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 80px;
    width: 13%;
    gap: 20px;
    align-items: center;
    margin-left: 50%;

    .input {

      p {
        font-size: 1.5em;
      }

      input {
        outline: none;
      }
    }
  }
}