* {
  margin: 0;
}

.comp-sidebar {
  display: flex;
  flex-direction: column;
  background-color: #4F362F;
  width: 50vh;
  height: 100vh;
  overflow-y: auto;

  .logo-name {
    display: flex;
    align-items: center;
    margin: 50px 10%;
    gap: 15px;

    img {
      height: auto;
      width: 7em;
      cursor: pointer;
    }

    h1 {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #fff;
      font-size: 1.8em;
      font-weight: 200;
    }
  }

  .profile-access {
    display: flex;
    margin-left: 5%;

    .profile-description {
      display: flex;
      width: 100%;
      img {
        width: auto;
        height: 4em;
        border-radius: 50px;
      } 

      h2 {
        margin-left: 5%;
        font-size: 1.4em;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #fff;
        width: 100%;
        margin-top: 10px;
      }
    }

    .link-myprofile {
      text-decoration: none;
      width: 100%;

      .text-arrow {
        display: flex;
        align-items: center;
        margin-left: -290%;
        margin-top: 40px;
        margin-bottom: 0px;

        img {
          width: auto;
          height: 0.7em;
          margin-left: -70%;
          margin-top: 4px;
          filter: invert(1);
        }

        p {
          font-size: 0.9em;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          color: #fff;
          width: 100%;
        }
      }
    }
  }

  .options-page {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-left: 10%;

    .link-img {
      text-decoration: none;

      .div-link {
        margin-top: 10px;
        display: flex;
        gap: 10px;

        h4 {
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-size: 1.2em;
          color: #fff;
          margin-top: 5px;
          font-weight: 500;
          transition: 0.3s;

          &:hover {
            color: rgb(12, 242, 250);
          }
        }

        img {
          margin-top: 11px;
          width: auto;
          height: 1em;
        }
      }
    }
  }

  .help-exit {
    display: flex;
    flex-direction: column;
    margin-top: 250px;
    margin-left: 15%;
    gap: 5px;

    .help,
    .exit {
      text-decoration: none;
      color: #fff;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 600;
      font-size: 1.2em;
    }
  }
}


.cards-page{
  padding-top: 100px;
  display:  flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100px;
  gap: 30px;
  
    .card{
      display:  flex;
          justify-content: space-around;
          flex-direction: column;
          border: 1px solid #AE5044;
          height: 200px;
          top: 172px;
          left: 322px;
          padding: 20px;
          border-radius: 10px;
          margin-left: 20px;
          font-family: Montserrat;

          .dados-toopo{
            display:  flex;
      flex-direction: row;
      padding-left: 20px;
      font-family: Montserrat;
      font-style: italic;
      font-weight: 400;
      line-height: 12.19px;
      text-align: center;
      gap: 10px;

h6{
  padding-right: 100px;
}

          }
         

   .dados{
      display:  flex;
      flex-direction: row;
      gap: 100px;
      padding-left: 20px;
      font-family: Montserrat;
      font-style: italic;
      font-weight: 400;
      line-height: 12.19px;
      text-align: center;

   }

     .usuario{
      display:  flex;
      flex-direction: row;
      gap: 50px;
      height: 22px;
      top: 47px;
      left: 9px;
      gap: 0px;
      opacity: 0px;
      color: black;

     

     

     }

    }
  }

  
  
